
@theme {
  --color-primary-0: #fff;
  --color-primary-100: #f8f8f8;
  --color-primary-200: #d6dddd;
  --color-primary-300: #c6cfd0;
  --color-primary-400: #b8c4c4;
  --color-primary-500: #acbabb;
  --color-primary-600: #a1b1b1;
  --color-primary-700: #96a8a9;
  --color-primary-800: #8ca0a1;
  --color-primary-900: #829899;
  --color-primary-1000: #789091;
  --color-primary-1100: #6f8889;
  --color-primary-1200: #668182;
  --color-primary-1300: #5d797b;
  --color-primary-1400: #547274;
  --color-primary-1500: #4e6a6c;
  --color-primary-1600: #496364;
  --color-primary-1700: #435b5c;
  --color-primary-1800: #3d5354;
  --color-primary-1900: #384b4c;
  --color-primary-2000: #324445;
  --color-primary-2100: #2c3c3d;
  --color-primary-2200: #263435;
  --color-primary-2300: #202c2c;
  --color-primary-2400: #1a2324;
  --color-primary-2500: #131a1b;
  --color-primary-2600: #0c1010;
  --color-primary-2700: #020202;
  --color-secondary-0: #fff;
  --color-secondary-100: #f8f8f8;
  --color-secondary-200: #e3f0f0;
  --color-secondary-300: #cee7e9;
  --color-secondary-400: #b8dfe1;
  --color-secondary-500: #a2d6d9;
  --color-secondary-600: #8bced1;
  --color-secondary-700: #72c5c9;
  --color-secondary-800: #57bcc1;
  --color-secondary-900: #32b3ba;
  --color-secondary-1000: #00aab2;
  --color-secondary-1100: #00a1aa;
  --color-secondary-1200: #0098a3;
  --color-secondary-1300: #008f9b;
  --color-secondary-1400: #008693;
  --color-secondary-1500: #007a86;
  --color-secondary-1600: #006e78;
  --color-secondary-1700: #00626b;
  --color-secondary-1800: #00565f;
  --color-secondary-1900: #004b52;
  --color-secondary-2000: #004046;
  --color-secondary-2100: #00353a;
  --color-secondary-2200: #002b2f;
  --color-secondary-2300: #002124;
  --color-secondary-2400: #001719;
  --color-secondary-2500: #000e0f;
  --color-secondary-2600: #010606;
  --color-secondary-2700: #020202;
  --color-primary-muted-0: #fff;
  --color-primary-muted-100: #f8f8f8;
  --color-primary-muted-200: #dadcdc;
  --color-primary-muted-300: #cbcece;
  --color-primary-muted-400: #bfc2c2;
  --color-primary-muted-500: #b4b8b8;
  --color-primary-muted-600: #a9aeaf;
  --color-primary-muted-700: #a0a5a6;
  --color-primary-muted-800: #979d9d;
  --color-primary-muted-900: #8e9495;
  --color-primary-muted-1000: #858c8d;
  --color-primary-muted-1100: #7d8585;
  --color-primary-muted-1200: #757d7d;
  --color-primary-muted-1300: #6d7576;
  --color-primary-muted-1400: #656e6e;
  --color-primary-muted-1500: #5e6667;
  --color-primary-muted-1600: #575f5f;
  --color-primary-muted-1700: #505758;
  --color-primary-muted-1800: #495050;
  --color-primary-muted-1900: #434949;
  --color-primary-muted-2000: #3c4141;
  --color-primary-muted-2100: #353a3a;
  --color-primary-muted-2200: #2e3232;
  --color-primary-muted-2300: #272a2a;
  --color-primary-muted-2400: #1f2222;
  --color-primary-muted-2500: #171919;
  --color-primary-muted-2600: #0e0f0f;
  --color-primary-muted-2700: #020202;
  --color-secondary-muted-0: #fff;
  --color-secondary-muted-100: #f8f8f8;
  --color-secondary-muted-200: #eaeeee;
  --color-secondary-muted-300: #dce4e4;
  --color-secondary-muted-400: #ced9da;
  --color-secondary-muted-500: #bfcfcf;
  --color-secondary-muted-600: #b0c4c5;
  --color-secondary-muted-700: #a0b9ba;
  --color-secondary-muted-800: #8fadaf;
  --color-secondary-muted-900: #7aa0a2;
  --color-secondary-muted-1000: #4e8c8e;
  --color-secondary-muted-1100: #3b8082;
  --color-secondary-muted-1200: #2f7679;
  --color-secondary-muted-1300: #266d70;
  --color-secondary-muted-1400: #1e6468;
  --color-secondary-muted-1500: #1c5b5f;
  --color-secondary-muted-1600: #1a5256;
  --color-secondary-muted-1700: #184a4d;
  --color-secondary-muted-1800: #164144;
  --color-secondary-muted-1900: #14393b;
  --color-secondary-muted-2000: #123133;
  --color-secondary-muted-2100: #10292b;
  --color-secondary-muted-2200: #0e2223;
  --color-secondary-muted-2300: #0c1a1b;
  --color-secondary-muted-2400: #0b1314;
  --color-secondary-muted-2500: #080c0c;
  --color-secondary-muted-2600: #040506;
  --color-secondary-muted-2700: #020202;
  --font-display: 'Clash Display';
  --font-body: 'Poppins';
  --animate-hero-vert-scroll-infinite: animate-hero-vert-scroll-infinite 30s linear infinite;
  --animate-hero-vert-scroll-infinite-reverse: animate-hero-vert-scroll-infinite-reverse 30s linear infinite;
  --animate-hero-vert-scroll-infinite-x: animate-hero-vert-scroll-infinite-x 30s linear infinite;
  --animate-hero-vert-scroll-infinite-x-reverse: animate-hero-vert-scroll-infinite-x-reverse 30s linear infinite;
  @keyframes animate-hero-vert-scroll-infinite {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }
  @keyframes animate-hero-vert-scroll-infinite-reverse {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(100%);
    }
  }
  @keyframes animate-hero-vert-scroll-infinite-x {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @keyframes animate-hero-vert-scroll-infinite-x-reverse {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }

  --text-sm: 0.500rem;
  --text-base: 0.625rem;
  --text-lg: 0.75rem;
  --text-xl: 0.875rem;
  --text-2xl: 1rem;
  --text-3xl: 1.125rem;
  --text-4xl: 1.25rem;
  --text-5xl: 1.5rem;
  --text-6xl: 1.875rem;
}